.tomarPedido{
    display: flex;
    width: 100%;
    background-color: #F9EBC8;
    font-family: Lato;
}
.options{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: 88vh;
    background-color: #A0BCC2;
    align-items: center;
    margin: 11vh 0;
    border-radius: 6px;
    justify-content: center;
    position: fixed;
}

.optionImg{
  width: 40px;
  padding: 65% 0;
}
.contenedorMesero{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menuOrden{
  display: flex;
  justify-content: center;
  margin-top: 10vh ;
}
.client{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  font-size: 18px;
  border-radius: 6px;
  padding: 3% 0;
  background-color: #A0BCC2;
  margin-bottom: 2%;
}
.clientInput{
  background-color: #FEFBE7;
  height: 70%;
  border-radius: 5px;
  margin: 2% 0;
  border: 1.5px solid#625D63;
}
.clientLabel{
  background-color: #A0BCC2;
  border-radius: 4px;
  padding: 1px 3%;
  margin: 0 1%;
}
.btnPlus{
  background-color: #FEFBE7;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1.5px solid#625D63;
}

.titleMenu{
  display: flex;
  flex-direction: column;
  width: 52%;
  background-color: #A0BCC2;
  margin: 1% 47% 0 7%;
  border-radius: 6px;
  justify-items: center;
  text-align: center;
  min-height: 87vh;
}
.menu{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.typeMenu{
  font-family: Lato;
  font-size: 25px;
  font-weight: bold;
  margin: 3% 0;
}
.tarjeta{
  background-color: #FEFBE7;
  width: 90%;
  height: auto;
  border-radius: 8px;
  font-size: 17px;
  text-align: center;
  margin: 5%;
  padding: 5% 0;
}

.menuName{
  width: 98%;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}
.imgMenu{
  width: 70%;
  height: 80px;
  margin: 0 14%;
}

.eliminar{
    height: 25px;
    width: 25px;
}.btnAdd{
  height: 25px;
  border: 1.5px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  font-size: 15px;
}

.orden{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1% 1% 0 2%;
  height: auto;
  border-radius: 8px;
  position: fixed;
  right: 0;
}

.tableOrder{
  margin: 1% 0%;
  width: 100%;
  font-family: "Lato";
  font-size: 16px;
  text-align: center;
}
.sendKitchen{
  bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #A0BCC2;
  border-radius: 0 0 6px 6px;
}

.send{
  font-size: 20px;
  border: 1.5px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  margin: 5% 0 4% 0;
  right: 2%;
  padding: 1% 3%;
}
.orderTable{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}
.simpleDoble{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 0% 0 1% 0;
  font-weight: bold;
}
.btnBurguer{
  width: 35%;
  height: 30px;
  border: 1px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  font-size: 20px;
}
.adicional{
  display: flex;
  justify-content: space-around;
  margin: 2% 0 3% 0;
}
.checkAdicional{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.eggCheese{
      width: 25%;
    margin-bottom: 5%;
}
.btnEggCheese{
  background-color: #FEFBE7;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1.5px solid#625D63;
}

.ordenPedido{
  background-color: #A0BCC2;
  display: flex;
  flex-direction: column;
  border-radius: 6px 6px 0 0;
  height: 58vh;
  overflow: auto;
}
.total{
  display:flex;
  justify-content: center;
  width: 100%;
}

.precioTotal{
  width: 50%;
  padding: 0 15%;
  text-align: center;
}

.pricebtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5% 0 5%;
}

.price{
  font-size: 14px;
}

.chesse{
  width: 100%;
  font-size: 17px;
  border: none;
  background-color: #FEFBE7;
}

td{
  font-size: 13px;
}
.descripcion{
  text-align: left;
  width: 43%;
  padding-left: 3%;
}
.date{
  font-size: 12px;
  width: 20%;
  text-align: center;
}
.backType{
  background-color: #F9EBC8;
}
.error{
  color: red;
  font-weight: bold;
  font-size: 15px;
  font-family: "Lato";
  margin-top:1%;
  margin-bottom: -3%;

}
@media only screen and (max-width: 490px){

  .menuOrden{
   flex-direction: column;
  }
  .orden{

    position: relative;
    width: 88%;
    margin-left: 11%;
  }
  .titleMenu{
    width: 88%;
    margin-left: 11%;
    max-height: 57vh;
    min-height: 40vh;
    overflow: scroll;
  }
  .options{
    width: 10%;
    margin-top: 10.5vh;
  }
  .ordenPedido{
    min-height: auto;
  }
}

@media only screen and (min-width: 1200px){
  .menu{
    grid-template-columns: repeat(3, 1fr);
  }
  .titleMenu{
    width: 60%;
    padding: 0 1.5%;
  }
  td{
    font-size: 15px;
  }
  .ordenPedido{
    min-height: 61vh;
  }
  .date{

    width: 13%;
 
  }
  .options{
    height: 87vh;
    margin-top: 11.5vh;
  }
}