.tomarPedido{
    display: flex;
    width: 100%;
    background-color: #F9EBC8;
    font-family: Lato;
}
.options{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: auto;
    background-color: #DAE5D0;
    align-items: center;
}
.optionImg{
  width: 50px;
  padding: 40% 0;
}
.contenedorMesero{
    display: flex;
    flex-direction: column;
    width: 94%;
}
.menuOrden{
  display: flex;
  justify-content: center;
}
.mesa{
  display: flex;
  height: 5%;
  padding: 1% 23%;
  font-size: 20px;
}
.table{
  background-color: #A0BCC2;
  border-radius: 4px;
  padding: 1px 3%;
  margin: 0 1%;
}
.nTable{
  width: 8%;
}
.titleMenu{
  display: flex;
  flex-direction: column;
  width: 58%;
  background-color: #A0BCC2;
  margin: 0 1%;
  border-radius: 6px;
  justify-items: center;
  text-align: center;
}
.menu{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);

  justify-items: center;
}
.typeMenu{
  font-family: Lato;
  font-size: 25px;
  font-weight: bold;
  margin: 2% 0;
}
mat-card{
  background-color: #FEFBE7;
  width: 75%;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;

}
mat-card-header{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
}
.imgMenu{
    width: 80%;
    height: 150px;
    margin:0  10%;

}

.eliminar{
    height: 40px;
    width: 40px;
}
.btnAñadir{
  width: 35%;
  height: 30px;
  border: 1px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  font-size: 100%;
}

.ordenPedido{
  display: flex;
  flex-direction: column;
  width: 36%;
  margin: 0 1%;
  padding: 1%;
  height: auto;
  background-color: #A0BCC2;
  border-radius: 8px;

}
.tableOrder{
  background-color: #A0BCC2;
  margin: 1% 0%;
  width: 100%;
  font-family: "Lato";
  font-size: 16px;
  /* border-spacing: 1%; */
  /* padding: 3%; */
  text-align: center;
}
.sendKitchen{
  width: 100%;
  position: relative;

}
.send{
  position: absolute;
  font-size: 20px;
  border: 1px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  width: 40%;
  margin-top: 8%;
  right: 2%;
}
.orderTable{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 2% 0;
}
.simpleDoble{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 0% 0 3% 0;
  font-weight: bold;
}
.btnBurguer{
  width: 35%;
  height: 30px;
  border: 1px solid#625D63;
  border-radius: 6px;
  background-color: #DAE5D0;
  font-size: 20px;
}
.adicional{
  display: flex;
  justify-content: space-around;
}
.checkAdicional{
  display: flex;
  align-items: center;
  justify-content: center;
}
.eggCheese{
  width: 20%;
}