.formContent{
    height: 100%;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #A0BCC2;
    width: 100%;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #625D63;
}

.inputContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% 0;
}

input, select{
    margin: 6% 0 ;
    height: 28px;
    border-radius: 5px;
    background-color: #FEFBE7;
    border: 3px solid #FEFBE7;
    font-size: 17px;
}

label{
    margin: 0;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
}

h1{
    margin: 5% 0;
    font-family: Racing Sans One;
    font-size: 27px;
}

.btnRegister{
    border-radius: 5px;
    background-color: #DAE5D0;
    border: 3px solid #FEFBE7;
    height: 8%;
    width: 50%;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 1%;
    text-align: center;
}

#btnCerrar{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    background-color: #DAE5D0;
    border: 3px solid #FEFBE7;
}
