.loginContent{
    display: flex;
    flex-direction: row;
}

.formContent{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #A0BCC2;
    height: 70vh;
    width: 70%;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.inputContent{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3% 0;
}
.portada{
    height: 100vh;
    width: 50vw;
}

.burguerChef{
    height: 20%;
    width: 20%;
    padding: 5%;
}

input{
    margin: 5% 0 ;
    height: 25px;
    border-radius: 5px;
    background-color: #FEFBE7;
    border: 3px solid #FEFBE7;
    font-size: 20px;
}

label{
    margin: 0;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}

h1{
    margin: 2% 0 4% 0;
    font-family: 'League Spartan';
    font-size: 28px;
    font-weight: 700;
}

button{
    border-radius: 5px;
    background-color: #DAE5D0;
    border: 3px solid #FEFBE7;
    height: 8%;
    width: 40%;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    margin: 2% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario{
    margin-bottom: 7%;
}
.error{
    color: red;
    font-size: 14px;
    text-align: center;
    margin: -3% 2% 0 0;
}
@media only screen and (max-width: 490px){
    .portada{
        height: 0px;
        width: 0px;
    }
    .formContent{
        height: 100vh;
        width: 100%;
    }
    button{
        margin: 7% 0 10% 0;
    }
    input{
        margin: 7% 0;
    }

}
@media only screen and (min-width: 1200px){
    form{
        width: 30vw;
    }
    .inputContent{
         width: 17vw;
    }
    button{
        margin: 7% 0 10% 0;
    }
    input{
        margin: 7% 0;
    }

}