<header>
    <img class="burguerChef" src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/burguerChefv2.png?alt=media&token=0c79ce36-2445-4ca7-924d-0d8704534266">
    <label>Administrador</label>
    <button>
        Crear Usuario
        <img class="user" src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/users.png?alt=media&token=40eb84fc-91c7-4f1b-8b69-356bd12ca5a9"></button>
</header>

<div class="userTable">
    <table class="usuarios">

        <tr>      
          <th scope="row">N°</th>
          <th>Nombres y Apellidos</th>
          <th>Usuario</th>
          <th>Función</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      
        <tr>
      
          <th>1</th>
          <td>xxxxxxxx</td>
          <td>xxxxxxxx</td>
          <td>xxxxxxxx</td>
          <td class="columnEdit">
            <img class="editar" src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/update.png?alt=media&token=882efbf4-9400-4031-ae0c-4ba49d1320b3">
          </td>
          <td class="columnEdit">
            <img class="editar" src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/trash.png?alt=media&token=026105f1-6c89-4e2b-9fcc-c0eaf45a21f0">
          </td>
        </tr>
      
        <tr>      
          <th>2</th>      
          <td>xxxxxxxx</td>      
          <td>xxxxxxxx</td>      
          <td>xxxxxxxx</td>
        </tr>
      
        <tr>
          <th>3</th>      
          <td>xxxxxxxx</td>      
          <td>xxxxxxxx</td>      
          <td>xxxxxxxx</td>
        </tr>
      
      </table>

</div>
