<header>
    <div class="name"> 
        <img class="burguerChef" src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/burguerChefv2.png?alt=media&token=0c79ce36-2445-4ca7-924d-0d8704534266">
        <label>Nombre</label>
    </div>
    <img class='mesera' src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/waitress.png?alt=media&token=e7061018-4062-4449-8892-40193a3cd774
    ">
    <div class="vistasgeneral">
        <label class="vistas">Tomar Pedido</label>
        <label class="vistas">Ver Pedidos</label>
    </div>
    
    <img class='salir' src="https://firebasestorage.googleapis.com/v0/b/burger-cangreburger.appspot.com/o/logout.png?alt=media&token=ae4fc83b-49c2-47c4-be50-ffab74bb8eb7
    ">
</header>
<app-tomar-pedido></app-tomar-pedido>
