header{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    position: relative;
    background-color: #DAE5D0;
    justify-content: space-between;
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 22px;
}

.name{
    display: flex;
    align-items: center;
    width: 33%;
}
.burguerChef{
    width: 45px;
    padding: 1%;
    margin: 1% 4%; 
}
.mesera{
    width: 40px;
}
.salir{
    width: 30px;
    padding: 1%;
    margin-left: 2%;
}
.vistasgeneral{
    display: flex;
    width: 40%;
    align-items: center;
    margin-right: 2%;

    
}
.vistas{
    padding: 1.5% 0;
    text-align: center;
    width: 50%;
    border-radius: 8px;
}
.vistas:hover{
    padding: 1.5% 0;
    border-radius: 8px;
}
.backType{
    background-color: #FEFBE7;
}

/* app-tomar-pedido{
display: flex;
} */