<div class="regContent">
    <div class="formContent">
    <form [formGroup] = "formReg" (ngSubmit)="onSubmit()">
        <h1>Crear usuario</h1>

        <div class="inputContent">
            <label>Nombres</label>
            <input type="text" class="form-control" formControlName="nombres">

            <label>Apellidos</label>
            <input type="text" class="form-control" formControlName="apellidos">

        <!--     <label>Email</label>
            <input type="text" class="form-control" formControlName="email"> -->

            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">

            <select name="select">
                <option selected>Escoger función</option>
                <option value="mesero">Mesero</option>
                <option value="cocinero">Cocinero</option>
              </select>

        </div>

        <button type="submit">Registrar</button>
    </form>

    </div>
</div>
