.formContent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #A0BCC2;
    height: 80%;
    width: 30%;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.inputContent{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 2% 0;
}

input, select{
    margin: 8% 0 ;
    height: 25px;
    border-radius: 5px;
    background-color: #FEFBE7;
    border: 3px solid #FEFBE7;
    font-size: 17px;
}

label{
    margin: 0;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
}

h1{
    margin: 3%;
    font-family: Racing Sans One;
    font-size: 27px;
}

button{
    border-radius: 5px;
    background-color: #DAE5D0;
    border: 3px solid #FEFBE7;
    height: 8%;
    width: 50%;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 1%;
    text-align: center;
}

